{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="card">
        <div class="card-header bg-success text-white">
            <h3 class="mb-0">Create new package for {{ business.name }}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.price) }}
            {{ form_row(form.category) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('app_business_view', { id: business.id }) }}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
{% endblock %}
